{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>

    <div id="freedelivery">
        <h2>
            FREE HOME DELIVERY FOR SOCIAL RESIDENTS !</h2>
    </div>
    <nav>
        <ul>
            <a href="{% url 'furniture_home:hom' %}"><li id="home">Home</li></a>
            <a href="{% url 'furniture_home:asry' %}"><li>Accessories</li></a>
            <a href="{% url 'furniture_home:bed' %}"><li>Bed Room</li></a>
            <a href="{% url 'furniture_home:live' %}"><li>Living Room</li></a>
            <a href="{% url 'furniture_home:abt' %}"><li>About</li></a>
            <a href="{% url 'furniture_home:con' %}"><li>Contact Us</li></a>
        </ul>
    </nav>
    
    
    

    <div class="accessory"><h1>Accessories</h1></div>
   


    <div class="items">
        <div id="item1"></div>
        <div id="item2"></div>
        <div id="item3"></div>
        <div id="item4"></div>
    </div>

    <div class="itemwrite">
        <div class="write"><h3>Homey Design HD-1802-Mirror Burl & Metallic Antique Gold Finish European Luxury Furniture</h3>
       <p>$1,399.00</p> 
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1803-Mirror Burl & Metallic Antique Gold Finish European Luxury Furniture</h3>
            <p>$1,299.00</p>
            <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1806-Mirror Burl & Metallic Antique Gold Finish European Luxury Furniture</h3>
           <p>$1,299.00</p> 
            <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1861-Ceramic Vase & Pedestal White & Gold Finish Luxury Home Decor</h3>
            <p>$4,699.00</p>
        <button class="itembtn1"> Add to cart</button></div>
    </div>

    <br><br>
    <div class="items">
        <div id="item5"></div>
        <div id="item6"></div>
        <div id="item7"></div>
        <div id="item8"></div>
    </div>

    <div class="itemwrite">
        <div class="write"><h3>Homey Design HD-1862-Ceramic Vase & Pedestal White & Gold Finish Luxury Home Decor</h3>
            <p>$5,299.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1875-Ceramic Vase & Pedestal White & Gold Finish Luxury Home Decor</h3>
            <p>$979.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-8092-Mirror Satin Gold Finish European Luxury Furniture</h3>
            <p>$1,299.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1157-Display Antique Gold & Mahogany Finish Luxury Furniture</h3>
            <p>$2,599.00</p>
        <button class="itembtn1"> Add to cart</button></div>
    </div>
<br><br>
    <div class="items">
        <div id="item9"></div>
        <div id="item10"></div>
        <div id="item11"></div>
        <div id="item12"></div>
    </div>

    <div class="itemwrite">
        <div class="write"><h3>Homey Design HD-1176-Display Antique Gold & Mahogany Finish Luxury Furniture</h3>
            <p>$1,899.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1182-40''Lamp Antique White & Gold Finish Luxury Furniture</h3>
            <p>$2,299.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1207-Display Antique Silver & Golden Brown Finish European Luxury Furniture</h3>
            <p>$1,499.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1203-Display Antique Silver & Antique Gold Finish Luxury Furniture</h3>
            <p>$1,899.00</p>
        <button class="itembtn1"> Add to cart</button></div>
    </div>
</body>
</html>