{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    <div id="freedelivery">
        <h2>
            FREE HOME DELIVERY FOR SOCIAL RESIDENTS !</h2>
    </div>
    

    <nav>
        <ul>
            <a href="{% url 'furniture_home:hom' %}"><li id="home">Home</li></a>
            <a href="{% url 'furniture_home:asry' %}"><li>Accessories</li></a>
            <a href="{% url 'furniture_home:bed' %}"><li>Bed Room</li></a>
            <a href="{% url 'furniture_home:live' %}"><li>Living Room</li></a>
            <a href="{% url 'furniture_home:abt' %}"><li>About</li></a>
            <a href="{% url 'furniture_home:con' %}"><li>Contact Us</li></a>
        </ul>
    </nav>
    <div class="accessory"><h1>Living Room</h1></div>
    
    
    <div class="items">
        <div id="itemI"></div>
        <div id="itemII"></div>
        <div id="itemIII"></div>
        <div id="itemIV"></div>
    </div>

    <div class="itemwrite">
        <div class="write"><h3>Homey Design HD-105-Love Seat Metallic Bright Gold Finish European Luxury Furniture</h3>
            <p>$2,899.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-105-Sofa Mettalic Bright Gold Finish European Luxury Furniture</h3>
            <p>$3,599.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-106-3PC SOFA SET Luxury </h3>
            <p>$7,899.00</p>
        <button class="itembtn1"> Add to cart</button></div>
        <div class="write"><h3>Homey Design HD-1803-Stool Burl & Mettalic Antique Gold Finish European Luxury Furniture</h3>
            <p>$1,199.00</p>
        <button class="itembtn1"> Add to cart</button></div>
</div>
<br><br>
<div class="items">
    <div id="itemV"></div>
    <div id="itemVI"></div>
    <div id="itemVII"></div>
    <div id="itemVIII"></div>
</div>

<div class="itemwrite">
    <div class="write"><h3>Homey Design HD-20301-3PC SOFA SET Exclusive Luxury</h3>
        <p>$7,799.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-20322-3PC SOFA SET Exclusive Luxury</h3>
        <p>$9,799.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-20339-3PC SOFA SET Exclusive Luxury</h3>
        <p>$8,999.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-20353-3PC SOFA SET Exclusive Luxury</h3>
        <p>$1,199.00</p>
    <button class="itembtn1"> Add to cart</button></div>
</div>
<br><br>
<div class="items">
    <div id="itemIX"></div>
    <div id="itemX"></div>
    <div id="itemXI"></div>
    <div id="itemXII"></div>
</div>

<div class="itemwrite">
    <div class="write"><h3>Homey Design HD-20353 Chair Metallic Silver Finish European Luxury Furniture</h3>
        <p>$2,099.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-2662 Love Seat Metallic Silver Finish European Luxury Furniture</h3>
        <p>$1,199.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-2662 Sofa Melattic Silver Finish European Luxury Furniture</h3>
        <p>$1,199.00</p>
    <button class="itembtn1"> Add to cart</button></div>
    <div class="write"><h3>Homey Design HD-2666 Chair Mettalic Briht Gold Finish European Luxury Furniture</h3>
        <p>$1,199.00</p>
    <button class="itembtn1"> Add to cart</button></div>
</div>
</body>
</html>